.user-component {
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 8px;
}
.user-component__text {
  font-weight: 900;
  font-size: 20px;
  margin-top: 10px;
  position: relative;
}
.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title--not--bold {
  font-weight: 100;
}
.user-component:last-child {
  display: flex;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}
.user-component:last-child {
  display: felx;
  align-items: center;
}
.user-component__comment-icon i {
  color: black;
}
.user-component__excmark {
  width: 13px;
  height: 13px;
  border: 2px #ff5b48 solid;
  border-radius: 50%;
  color: #ff5b48;
  text-align: center;
  font-size: 7.5px;
  font-weight: bold; /* font-weight가 적용되지 않고 있음 ㅜㅜ*/
  position: absolute;
  right: -25px;
  bottom: -2px;
}
.user-component__column:last-child {
  color: var(--main-color);
}
